// app global css in SCSS form
@import 'tabs';
@import 'theme';
@import 'rest.methods';
@import 'rest-tabs';
.wrap-word {
  white-space: break-spaces;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.cursor-grabbing { cursor: grabbing; }
.cursor-move { cursor: move; }
.cursor-drag { cursor: grab; }

.bg-shadow-panel {
  background-color: $panel-secondary-light !important;
}
