// app global css in SCSS form
@import 'tabs';
@import 'theme';
@import 'rest.methods';
@import 'rest-tabs';
@import 'sticky-helper';
@import 'codeMirror-custom';
@import 'tree-view';

.wrap-word {
  white-space: break-spaces;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-move {
  cursor: move;
}

.cursor-drag {
  cursor: grab;
}

.bg-shadow-panel {
  background-color: var(--q-panel-secondary) !important;
}

body {
  color: var(--q-panel-color-font);
  font-size: 12px;

  .q-tab__label,
  .q-btn,
  .q-field {
    font-size: 12px;
  }

  .q-toolbar__title {
    font-size: 14px;
    font-weight: bold;
  }
}

.truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.environnement-not-found {
  background-color: #a80000;

  &:hover {
    cursor: help;
  }
}

.environnement-found {
  background-color: #7c3aed;

  &:hover {
    cursor: help;
  }
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.bg-cancel {
  background-color: var(--q-panel-secondary) !important;
}

.text-cancel {
  color: var(--q-cancel-color) !important;
}

.label-color {
  color: var(--q-label-color) !important;
}

.hover-text {
  &:hover {
    color: #8f1ca3;
  }
}