// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1069c2;
$secondary : #26A69A;
$accent    : #8f1ca3;

$dark      : #171717;
$dark-page : #181818;

$positive  : #149632;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

//$header   : #ffffff;
//$selected-text: #3b3a3a;
//
$accent-light-color: #512da8;
//$divider-color: #dcdada;
//$divider-light-color: #181818;

$thickness: 2px;

$panel-secondary-light: #F9F9F9;
$panel-secondary-dark: #262626;

$panel-primary-light: #FFFFFF;
$panel-primary-dark: #212121;

$panel-border-light: #0000001E;
$panel-border-dark: rgba(93, 93, 93, 0.40);


